.logo{
    height: 90px;
    width: auto;
    border-radius: 30%;
}
.menu{
    display: flex; 
}
.links{
    display: flex;
}
.nav{
    justify-content: space-between;
}
.alineacion{
    margin: 4px;
    font-size: 20px;
    color:#25a1b7;
}
.alineacion:hover{
    font-size: 22px;
    font-weight: bold;
}
.navbar-light .navbar-nav .nav-link {
    color: #25a1b7;
}